<header>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <a href="{{ path('Front_home_index') }}">
        <img class="img" src="{{ asset('img/logo.png') }}" alt="logo">
    </a>

</header>
