body {
    background-color: #a1005046;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    margin: 0; 
}

h1 {
    margin-top: 20px;
}

.img{
    width: 150px;
    height: 60px;
}