{% extends "base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block title %}
Oura
{% endblock %}

{% block body %}

<main>
<h1>Nos Candies</h1>
</main>



{% endblock %}