{% extends "base.html.twig" %}
{% block body %}
	<main>
		<h1>Nos Candies
		</h1>
		<main>
			<h1>Mis à jour</h1>
			{{form_start(formulaire_contact)}}
			{{form_rest(formulaire_contact)}}
			<input type="submit" value="send">
			{{form_end(formulaire_contact)}}
		</main>
	</main>
{% endblock %}
